<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/SDEV328/dating/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar brand" href="#">
            <img src="images/logo.png" alt="balloon logo">
        </a>
        <div class="navbar-collapse justify-content-end collapse show" id="navbarNavAltMarkup" style="">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link disabled" href="#">Chat Room</a>
                <a class="nav-link disabled" href="#">Meet Someone Today!</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Matches</a>
            </div>
        </div>
    </div>
</nav>
<div>
    <div class="background overlay" id="background-img" style="background-image: url(https://images.hdqwalls.com/download/hot-air-balloon-1920x1080.jpg); width: 100%; height: 100%; position: absolute; ">
        <div class="container-column first-column">
            <div class="col-content">

                <!-- Content (left side) -->
                <h1 class="mb-4"><a href="https://cdn.discordapp.com/attachments/730098031856320603/804582913882062848/logo.png"</h1>
                <p></p>
                <p></p>

            </div>
        </div>
        <button id="right-btn" type="button" class="btn btn-warning" style="margin-left: 80%">Save</button>
    </div>
</div>
</body>


</head>
</html>