<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/SDEV328/dating/styles/style.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar brand" href="#">
            <img src="/SDEV328/dating/images/balloonxs.png" alt="balloon logo">
        </a>
        <div class="navbar-collapse justify-content-end collapse show" id="navbarNavAltMarkup" style="">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link disabled" href="#">Chat Room</a>
                <a class="nav-link disabled" href="#">Meet Someone Today!</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Matches</a>
            </div>
        </div>
    </div>
</nav>
<div>
    <div class="background overlay" id="background-img" style="background-image: url(https://images.hdqwalls.com/download/hot-air-balloon-1920x1080.jpg); width: 100%; height: 100%; position: absolute; ">
        <div class="container-column first-column">
            <div class="col-content" style="opacity: 0.8; background-color: whitesmoke; border-radius: 15px 50px 30px 5px; padding: 2%">

                <!-- Content (left side) -->
                <h1 class="mb-4"><img src="/SDEV328/dating/images/logosm.png" alt="balloon logo2"></h1>
                <p>Are you really into balloons, hot air or otherwise and really looking to meet someone special who can love you for you?</p>
                <p>Try a free three month trial of our services today and meeting local singles near you. <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                    <path d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                </svg></p>
                <div class="d-flex flex-row-reverse">
                <button id="right-btn" type="button" class="btn btn-warning" style="border: 3px solid #73AD21;">Meet Locals Now!</button>
                </div>
            </div>

        </div>

    </div>
</div>
</body>


</head>
</html>