.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url("https://ibb.co/4TNbXP1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
