<!DOCTYPE html>
<html lang="en">
<head>
    <!--
        Authors: Eleanor Carl
        Date: February 12th, 2021
        File: summary.html
    -->

    <meta charset="UTF-8">
    <title>Account Review</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet" >
    <link href="styles/setstyles.css" rel="stylesheet">
    <link rel="stylesheet" href="/SDEV328/dating/styles/setstyles.css">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a class="navbar brand" href="#">
            <img src="/SDEV328/dating/images/balloonxs.png" alt="balloon logo">
        </a>
        <div class="navbar-collapse justify-content-end collapse show" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link disabled" href="#">Chat Room</a>
                <a class="nav-link disabled" href="#">Meet Someone Today!</a>
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Matches</a>
            </div>
        </div>
    </div>
</nav>
<h2 class="text-center">Landing Profile</h2>
<div class="container" style="width: 55%; border: solid grey;">
<div class="col-md-6 mb-3">
    <div style="border: solid grey"><p id="datep1">Name: {{ @SESSION.inputName1 }} {{ @SESSION.inputName2 }}</p></div>
    <div style="border: solid grey"><p id="datep2">Gender: {{ @SESSION.gender }}</p></div>
    <div style="border: solid grey"><p id="datep3">Age: {{ @SESSION.inputAge }}</p></div>
    <div style="border: solid grey"><p id="datep4">Phone: {{ @SESSION.inputPhone }}</p></div>
    <div style="border: solid grey"><p id="datep5">Email: {{ @SESSION.email }}</p></div>
    <div style="border: solid grey"><p id="datep6">State: {{ @SESSION.state }}</p></div>
    <div style="border: solid grey"><p id="datep7">Seeking: {{ @SESSION.sexual }}</p></div>
    <div style="border: solid grey"><p id="datep8">Interests: {{ @SESSION.indoor }} {{ @SESSION.outdoor }}</p></div>
</div>
    <div class="col-md-6 mb-3">
    <img src="images/sideimg.PNG" style="width: 100%">

    <div id="biography">
        <div style="text-align:center;">Biography: {{@SESSION.biography}}</div>
    </div>
    </div>

</div>
<div class="form-group">


    <div class="col-md-6 mb-2">
        <input type="submit" class="btn btn-primary vertical-center" onclick="window.location.href='/SDEV328/dating'" value="Contact Me!">
    </div>
</div>
